.p-d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Centers the content vertically and horizontally */
}

.p-mt-3 {
  margin-top: 10px; /* Adds space between the input and button */
}

.p-field {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the label and input horizontally */
  margin-bottom: 20px; /* Space between input and other elements */
}

.p-field label {
  margin-bottom: 5px; /* Adds space between the label and input field */
  text-align: center; /* Centers the label text */
}

.mt-3 {
  margin-top: 1rem;
}
