<div *ngIf= "isLoading" class="loading-container">
  <div class="loading-spinner">
    <div class="loader"></div>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<div *ngIf="!isLoading && !errorMessage" class="track-list-container">
  <div class="button-group">
  </div>

  <div class="track-list d-flex flex-wrap">
    <div class="card m-2" style="width: 18rem; display: flex; align-items: center; justify-content: center;">
      <img *ngIf="createdPlaylistImgUrl" [ngSrc]="createdPlaylistImgUrl" class="card-img-top" alt="Track image" width="50" height="200">
      <div class="create-playlist-card-body">
        <h5 *ngIf="createdPlaylistName">{{ createdPlaylistName }}</h5>
        <a [href]="createdPlaylistLink" target="_blank">{{ createdPlaylistLink }}</a>
        <button *ngIf="!createdPlaylistLink" type="button" class="btn btn-info btn-lg" (click)="createPlaylist()">Create playlist</button>
      </div>
    </div>

    <div *ngFor="let track of tracks; let i = index" class="card m-2" style="width: 18rem;">
      <img *ngIf="track.imageUrl" [ngSrc]="track.imageUrl" class="card-img-top" alt="Track image" width="50" height="200">
      <div class="card-body">
        <h5 class="card-title">{{ track.name }}</h5>
        <p class="card-text">{{ track.artist }}</p>
        <button type="button" class="btn btn-danger" (click)="removeTrack(i)">Remove</button>
      </div>
    </div>
  </div>
</div>
